* {
min-height: 0;
min-width: 0;
}

body {
  display: block;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  border: 0;
  overflow-x:  !important;
}
#container {
  display: block;
  width:100%;
  height: 100vh;
}
/*-- ITEMS --*/
.item.a, nav#nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.item.a {
  display: inline-flex;
  width: 90%;
  max-width: 90%;
  height: 20%;
  text-align: center;
}
.item.e {
  display: inline-block;
  flex-direction: column;
  align-items: center;
  width: auto;
  max-width: 10%;
  height: 20%;

}
.item.d {
  position: absolute;
  top: 20%;
  left:0px;
  right:0px;
  bottom:0px;
  overflow-y:scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0;
  margin-top: 5px;
  width: 100%;
  overflow-x: hidden;
}
.image {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: auto;
  text-align: center;
}
.item-a, .item-b {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
     justify-content: center;
}
/*-- ITEMS --*/
svg#logo-main {
  display: inline-flex;
  padding: 0;
  max-width: 100%;
  max-height: 100%;
  transform: translateX(7%) translateX(6%);
}
.remodal p {
  text-align: left;
}
table {
  align-content: center;
  align-self: center;
}
table, td, th {
  border: none;
  padding: 0 20px;
}
button.nav-toggle {
  width: 100%;
  margin: 0 auto;
  top: 50%;
  transform: translateY(300%);
}
button.nav-close-about   {
  transform: translateY(-210%);
}
button.nav-close-contact {
  transform: translateY(0%);
}

/*-- NAVIGATION --*/
nav#nav {
  visibility: hidden;
  display: flex;
  opacity: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  left: 0rem;
  top: 0;
  padding: 0;
  -ms-flex-line-pack: center;
  align-content: center;
  z-index: 1001;
}
nav#nav:target {
  visibility: visible;
  opacity: 1;
}
nav#nav ul li {
  opacity: 1;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
.nav-visible {
  visibility: visible;
  opacity: 1;
  z-index: 1000;
}
table, tr, td {
  border-spacing: 0.5rem;
}
button.nav-toggle {
  float: right;
}
#gallery-wrapper {
  box-sizing: border-box;
  top: 0;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: 100%;
  align-self: center;
  align-content: flex-end;
  z-index: 1000;
}
#slideshow-wrapper {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  align-content: center;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 1000;
}
.active {
  box-sizing: border-box;
  display: block;
}
.visible {
  box-sizing: border-box;
  opacity: 1;
}
section h2 {
  display: none;
}

/*-- OWL CAROUSEL --*/
section .owl-carousel {
  display: none;
  position: absolute;
}
.owl-carousel, .owl-theme, .owl-wrapper-outer {
    height: 100%;
}
.owl-wrapper-outer {
  height: 90%;
  object-position: center;
  object-fit: cover;
}
.owl-carousel.owl-theme {
  display: flex;
  width: auto;
  justify-content: center;
  align-content: center;
}
.owl-carousel, .owl-wrapper {
  position: relative;
}
.owl-controls {
  margin-top: 0px;
  position: absolute;
  display: block;
  width: 100%;
  top: 98%;
  object-fit: contain;
}
div .lazyOwl {
  display: block;
  object-fit: contain;
  width:auto;
}

div [data-slide-id] {
  display: flex;
  height: 520.19px;
  max-height: 100%;
  justify-content: center;
}
img .lazyOwl {
  height: auto;
}
.fp-tableCell {
  display: block!important;
}
.owl-theme, .owl-controls {
  margin-top: 0!important;
  top: 75%!important;
}
.fullpage-wrapper {
  height: 0%!important;
}
/*--
.owl-theme, .owl-wrapper-outer, .owl-wrapper, .owl-item, .active, .loading, .owl-controls, .clickable, .owl-pagination, .owl-page {
  display: none,
}
--*/
/*-- end --*/
/*-- media queries --*/
@media screen
and (min-width: 760px)
and (max-width: 1023px)
and (-webkit-min-device-pixel-ratio: 2) {
  .image {
    -ms-flex-preferred-size: 33.3333333%;
        flex-basis: 33.3333333%;
    height: auto;
    text-align: center;
  }
  #u {
    display: block;
  }
  svg#logo-main {
    transform: translateX(5%);
  }
}

@media screen
  and (min-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .item.a, .item.b, .item.c, .item.d, nav#nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
    .item.a, .item.b, .item.c {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .item.a {
      position: relative;
      width: 16.6666667%;
      padding: 0;
      margin: 0;
      float: left;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    .item.c {
      background-color: #fff;
      display: block;

    }
    .item.d {
      width: 82.3333333%;
      top: 0;
      margin-top: 0px;
      margin: 0 0 0 auto;
      height: 100vh;
    }
    .image {
      display:
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      -ms-flex-preferred-size: 16%;
          flex-basis: 16%;
      padding: 1px 1px;
    }
    nav#nav {
      visibility: visible;
      background-color: transparent;
      width: 16.6666667%;
      max-height: 60vh;
      opacity: 1;
    }
    nav#nav ul {
      top: 20%;
    }
    nav#nav ul li {
      padding: 20px;
    }
    svg#logo-main {
        transform: translateX(3%);
    }
    #u {
      display: none;
    }
    a h2 {
      font-size: 150%;
    }
    h3 {
      font-size: 140%;
    }
    button.nav-toggle {
      display: none;
    }
    section.image-nav {
      height: inital;
      display: flex;
      flex-direction: row;
      overflow-x: scroll;
    }
    #gallery-wrapper {
      padding-top: 5px;
      max-height: 100vh;
      height: 100vh;
    }
    .owl-carousel.owl-theme {
      height: 100vh;
    }
    .owl-wrapper-outer,   div[data-slide-id] {
      height: 92vh;
    }
    .owl-controls {
      margin-top: 0px;
      position: absolute;
      display: block;
      width: 100%;
      height: auto;
      top: 96%!important;
    }
    .section, .fp-section, .fp-table {
      height: 100vh!important;
    }
    .fp-tableCell {
      display: table-cell!important;
      padding: 0!important;

    }
    .fullpage-wrapper {
      height: 0!important;
    }
